@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: 400;
	font-style: normal;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 140%;
	width: 100%;
	color: 000000;
}
header {
    height: 200px;
    position: relative;
    color: white;
    background-image: url(../images/fern.png), -webkit-linear-gradient(270deg,rgba(0,102,0,1.00) 0.83%,rgba(0,153,0,1.00) 100%);
    background-image: url(../images/fern.png), -moz-linear-gradient(270deg,rgba(0,102,0,1.00) 0.83%,rgba(0,153,0,1.00) 100%);
    background-image: url(../images/fern.png), -o-linear-gradient(270deg,rgba(0,102,0,1.00) 0.83%,rgba(0,153,0,1.00) 100%);
    background-image: url(../images/fern.png), linear-gradient(180deg,rgba(0,102,0,1.00) 0.83%,rgba(0,153,0,1.00) 100%);
    background-position: 47% 0%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-attachment: scroll;
    text-align: center;
}
header h1 {
	font-size: 400%;
	line-height: 1.2em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #00FF00;
	text-align: center;
	padding-top: 0.75em;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: baseline;
	text-shadow: 0px 0px 30px #000000;
}
header p {
	margin-top: 2em;
	line-height: 0.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}
.alt-text {
	color: white;
}
h1, h2, h3, h4, h5, h6, blockquote, p {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: .5em;
}

.content h1 {
	font-family: "patua-one";
}
a img {border: none;
}
a:link {
    color: #143D9D;
    text-decoration: underline;
}
a:visited {
    color: #566884;
    text-decoration: underline;
}
.top_menu {
    width: 100%;
    text-align: center;
    overflow: auto;
    border-top: 5px solid #FFDD55;
    margin-bottom: 25px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.60);
    background-color: #006699;
    background-image: -webkit-linear-gradient(270deg,rgba(0,102,153,1.00) 0.41%,rgba(0,136,170,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,102,153,1.00) 0.41%,rgba(0,136,170,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,102,153,1.00) 0.41%,rgba(0,136,170,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,102,153,1.00) 0.41%,rgba(0,136,170,1.00) 100.00%);
}
.top_menu ul {
    list-style-type: none;
    width: 57em;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.top_menu ul li a:link, .top_menu ul li a:visited {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 7em;
    display: block;
    line-height: 3em;
    text-decoration: none;
    color: #FFFFCC;
}
.top_menu ul li {
    display: block;
    float: left;
	border-top: 1px solid #00AAEE;
    border-right: 1px solid #002244;
    border-bottom: 1px solid #002244;
    border-left: 1px solid #00AAEE;
}
.top_menu ul li a:hover {
    color: white;
    background-image: -webkit-linear-gradient(270deg,rgba(0,136,170,1.00) 0%,rgba(0,102,153,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(0,136,170,1.00) 0%,rgba(0,102,153,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(0,136,170,1.00) 0%,rgba(0,102,153,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,136,170,1.00) 0%,rgba(0,102,153,1.00) 100.00%);
}
.sidebar1 {
    overflow: auto;
    width: 200px;
    float: left;
    border-top: 5px solid #006699;
    border-bottom: 3px solid #006699;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
    font-size: 95%;
}
.content {
    width: 37em;
    margin-bottom: 20px;
    position: relative;
    float: left;
}
.sidebar2 {
    width: 200px;
    float: left;
    background-color: #CCFFCC;
    overflow: auto;
    border-top: 5px solid #006699;
    border-bottom: 3px solid #006699;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 95%;
}
#footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    clear: both;
    color: #FFFFAA;
    font-size: 95%;
    background-color: #009900;
}
.columnwrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	overflow: auto;
}
.blockquote {
	margin: 0px 0px 5px 0px;
	padding: 0px .5em;
}
.blockquote-cite {
	display: block;
	font-size: 90%;
	text-align: left;
	font-style:italic;
	padding-right: .5em;
}
