@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: 400;
	font-style: normal;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	line-height: 140%;
	width: 100%;
	color: 000000;
}

header {
	height: 200px;
	position: relative;
	color: white;
	background-color: #009900;
	background-image: url(../images/fern.png);
	background-position: 47% 0%;
	background-size: auto 90%;
	background-repeat: no-repeat;
	background-origin: padding-box;
	background-attachment: scroll;
	text-align: center;
}

header h1 {
	font-size: 400%;
	line-height: 1.2em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #00FF00;
	text-align: center;
	padding-top: 0.75em;
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: baseline;
	text-shadow: 0px 0px 30px #000000;
}

header p {
	margin-top: 2em;
	line-height: 0.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.alt-text {
	color: white;
}

h1, h2, h3, h4, h5, h6, blockquote, p {
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: .5em;
}

a img {border: none; /*Mr. NOble Rocks */
}

a:link {
    color: #143D9D;
    text-decoration: underline;
}

a:visited {
    color: #566884;
    text-decoration: underline;
}

.top_menu {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	border-bottom: medium none;
	border-top: #FFDD55 solid 5px;
	overflow: auto;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	background-color: #006699;
 	background: linear-gradient(rgba(0,102,153,1.0), rgba(0,136,170,1.0));
}

.top_menu ul {
    list-style-type: none;
    width: 57em;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.top_menu ul li {
    display: block;
    float: left;
	border-top: 1px solid #00AAEE;
	border-right: 1px solid #002244;
	border-bottom: 1px solid #002244;
	border-left: 1px solid #00AAEE;
}

.top_menu ul li a:link, .top_menu ul li a:visited {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 7em;
    display: block;
    line-height: 3em;
    text-decoration: none;
	color: #ffffcc;
}

.top_menu ul li a:hover {
	background: linear-gradient(rgba(0,136,170,1.0), rgba(0,102,153,1.0));
	color: #FFF;
}

.sidebar1 {
	border-top: solid 5px #006699;
	border-bottom: solid 5px #006699;
	width: 200px;
	float: left;
	background: #FFF;
}

.content{
	width: 37em;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position: relative;
}

.sidebar2{
	border-top: solid 5px #006699;
	border-bottom: solid 5px #006699;
	width: 200px;
	float: left;
	background-color: #cfc;
	overflow: auto;
}

footer{
	padding: 10px 10%;
	text-align: center;
	background-color: #090;
	position: relative;
	clear: both;
	font-size: 90%;
	margin-top: 20px;
}
